In [ ]:
score_list = [90,45,70,60,55]
num = 0

for score in score_list:
    num += 1
    if score >= 60:
        print(f"{num}번 학생은 합격입니다.")
    else:
        print(f"{num}번 학생은 불합격입니다.")

In [ ]:
python_score = [57,86,63,92,35,79]
num = 0

for python in python_score:
    num+=1
    if python>=80:
        print(f"{num}번은 {python}점 이며, A등급입니다.")
    elif python>=60 and python<80:
        print(f"{num}번은 {python}점 이며, B등급입니다.")
    else:
        print(f"{num}번은 {python}점 이며, C등급입니다.")

range() 함수
-필요한 만큼의 숫자를 만들어내는 유용한 기능
-range(1,10,1) -> 1부터 9까지 1씩 증가
-range(1,100,3) -> 1부터 99까지 3씩 증가
-range(10,1,-1) -> 10부터 2까지 1씩 감소(-1씩 증가)

In [ ]:
for i in range(1,10,1):
    print(i)

In [ ]:
for i in range(100,1,-3):
    print(i)

In [ ]:
for i in range(1,10,1):
    print(i, end=" ")  #end 숫자와 숫자 사이 문자

In [ ]:
for i in range(1,10,1):
    print(i, end="\n") #\n은 띄워쓰기

In [ ]:
for i in range(97,76,-1):
    print(i, end= " ")

In [ ]:
for i in range(23,40,1):
    print(i, end=" ")

In [ ]:
for i in range(2,101,2):
    print(i, end=" ")

In [ ]:
for i in range(3,101,3):
    print(i, end=" ")

In [ ]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)

In [ ]:
a,b = 1,7
print(a)
print(b)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]

for i in list2:
    if i > max_num:
        max_num = i
print(max_num)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
min_num = list2[0]

for i in list2:
    if i < min_num:
        min_num = i
print(min_num)

In [ ]:
num = 2
for i in range(1,10,1):
    print(f"{num} * {i} = {num*i}")

In [ ]:
#1부터 100사이의 숫자 중 3의 배수인 값들의 합 구하기
sum_num = 0
for i in range(3,101,3):
    sum_num += i
print(sum_num)

In [ ]:
num = int(input("단수를 입력하세요 >> "))
for i in range(1,10,1):
    if num<10:
        print(f"{num} * {i} = {num*i}")

In [2]:
star = "*"
for i in range(5,0,-1):
    print(i*star)

*****
****
***
**
*

In [3]:
#입력받은 숫자의 약수를 구하기
num = int(input("정수 입력 >> "))

print(f"{num}의 약수:", end=" ")

for i in range(1, num+1, 1):
    if num%i == 0:
        print(i, end=" ")

정수 입력 >> 20
20의 약수: 1 2 4 5 10 20

In [4]:
star = "*"
for i in range(1,7,1):
    print(i*star)

*
**
***
****
*****
******

In [5]:
for i in range(1,7,1):
    print(i*"*")

*
**
***
****
*****
******

In [6]:
for i in range(6,0,-1):
    print(i*"*")

******
*****
****
***
**
*

In [8]:
star = int(input("줄 수 입력 >> "))
for i in range(1,star+1):
    print(i*"*")

줄 수 입력 >> 5
*
**
***
****
*****

In [10]:
for i in range(1,7,1):
    print(i*"*")
for j in range(5,0,-1):
    print(j*"*")

*
**
***
****
*****
******
*****
****
***
**
*

In [11]:
start = int(input("첫 번째 정수 입력 >> "))
end = int(input("두 번째 정수 입력 >> "))

for i in range(start,end+1,1):
    print(i, end=" ")

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 10
1 2 3 4 5 6 7 8 9 10

In [12]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
num3 = int(input("배수 입력 >> "))

sum_num =0

for i in range(num1,num2+1,1):
    if i%num3 == 0:
        sum_num += i
print(f"{num3}의 배수의 합 :", sum_num)

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 20
배수 입력 >> 5
5의 배수의 합 : 45

In [19]:
name = input("이름을 입력 : ")
id_num = input("주민번호 입력(7자리) : ")

year = id_num[0:2]  #년도
month = id_num[2:4] #월
day = id_num[4:6]  #일
gender = id_num[6]  #성별

if gender == "1" or gender == "3" :
    sex = "남자"
else:
    sex = "여자"

print(f"{name}님은 {year}년 {month}월 {day}일에 태어났고, 성별은 {sex}입니다.")

이름을 입력 : 정성수
주민번호 입력(7자리) : 9512151
정성수님은 95년 12월 15일에 태어났고, 성별은 남자입니다.

In [20]:
s = ".nohtyp deen uoY ,trohs oot si efiL"

for i in range(len(s)-1, -1,-1):
    print(s[i], end="")

Life is too short, You need python.

In [23]:
for i in range(2, 10):
        for j in range(1, 10):
            print(f'{i}*{j}={i * j}', end='\t')
        print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [22]:
for i in range(1, 10):  
    for j in range(2, 10):
        print(f"{j}*{i}={j * i}", end= "\t") 
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [27]:
list1=[1,30,7,9,17,3,5,23,44,32,35]

result = 0
result1 = 0
for i in list1:
    if i % 2 == 0:
        result1 += 1
    else:
        result += 1

print("짝수 {1}개, 홀수 {0}개".format(result,result1))
print(f"짝수 {result1}개, 홀수 {result}개")

짝수 3개, 홀수 8개
짝수 3개, 홀수 8개

In [28]:
score_list = [["박매일",89,78,99], ["김미희",67,88,77], ["강예진",100,55,96]]

print("="*50)
print("이름\t", "파이썬\t", "자바\t", "DB\t", "평균\t", "학점")
print("="*50)

sum1 = 0
sum2 = 0
sum3 = 0
a = len(score_list)

for i in score_list :
    avg1 = (i[1]+i[2]+i[3])//a
    sum1 += i[1]
    sum2 += i[2]
    sum3 += i[3]
    
    if avg1 >= 90 :
        b = "A"
    elif avg1 >= 80 :
        b = "B"
    elif avg1 >= 70 :
        b = "C"
    elif avg1 >= 60 :
        b = "D"
    else :
        b = "F"      
    print(f"{i[0]} \t {i[1]} \t {i[2]} \t {i[3]} \t {avg1} \t {b}")
print("="*50)
print(f"평균  \t {sum1//a}\t {sum2//a}\t {sum3//a}")

==================================================
이름	 파이썬	 자바	 DB	 평균	 학점
==================================================
박매일 	 89 	 78 	 99 	 88 	 B
김미희 	 67 	 88 	 77 	 77 	 C
강예진 	 100 	 55 	 96 	 83 	 B
==================================================
평균  	 85	 73	 90

In [29]:
# 성적관리 프로그램
score_list = [["박매일",89,78,99], ["김미희",67,88,77], ["강예진",100,55,96]]

print("="*50)
print("이름\t", "파이썬\t", "자바\t", "DB\t", "평균\t", "학점\t")
print("="*50)

python, java, db = 0, 0, 0

for i in score_list:
    # 사람에 대한 평균
    avg = (i[1]+i[2]+i[3]) / 3
    
    avg_P, avg_J, avg_D = 0, 0, 0
    
    # 학점
    if avg >= 90 :
        grade = "A"
    elif avg >= 80 :
        grade = "B"
    elif avg >= 70 :
        grade = "C"
    elif avg >= 60 :
        grade = "D"
    else :
        grade = "F"  
    
    #출력 결과의 4 ~ 6번째 줄
    print(i[0], "\t", i[1], "\t", i[2], "\t", i[3], "\t", int(avg), "\t", grade)
    
    #과목에 대한 총합
    python += i[1]
    java += i[2]
    db += i[3]
    
avg_P = python / len(score_list)
avg_J = java / len(score_list)
avg_D = db / len(score_list)

print("="*50)
#출력결과 마지막
print(f"평균\t", int(avg_P), "\t", int(avg_J), "\t", int(avg_D), "\t")

==================================================
이름	 파이썬	 자바	 DB	 평균	 학점
==================================================
박매일 	 89 	 78 	 99 	 88 	 B
김미희 	 67 	 88 	 77 	 77 	 C
강예진 	 100 	 55 	 96 	 83 	 B
==================================================
평균	 85 	 73 	 90